@charset "UTF-8";

/* FUENTES */
.fuente-01a {	font-family: font-01a;	}
.fuente-01b {	font-family: font-01b;	}

.fuente-02a {	font-family: font-02a;	}
.fuente-02b {	font-family: font-02b;	}

.fuente-03a {	font-family: font-03a;	}
.fuente-03b {	font-family: font-03b;	}

.fuente-04a {	font-family: font-04a;	}
.fuente-04b {	font-family: font-04b;	}

.fuente-05a {	font-family: font-05a;	}
.fuente-05b {	font-family: font-05b;	}

.fuente-06a {	font-family: font-06a;	}
.fuente-06b {	font-family: font-06b;	}

.fuente-07a {	font-family: font-07a;	}
.fuente-07b {	font-family: font-07b;	}

.fuente-08a {	font-family: font-08a;	}
.fuente-08b {	font-family: font-08b;	}

.fuente-09a {	font-family: font-09a;	}
.fuente-09b {	font-family: font-09b;	}

.fuente-10a {	font-family: font-10a;	}
.fuente-10b {	font-family: font-10b;	}

.fuente-11a {	font-family: font-11a;	}
.fuente-11b {	font-family: font-11b;	}

.fuente-12a {	font-family: font-12a;	}
.fuente-12b {	font-family: font-12b;	}

.fuente-13a {	font-family: font-13a;	}
.fuente-13b {	font-family: font-13b;	}

.fuente-14a {	font-family: font-14a;	}
.fuente-14b {	font-family: font-14b;	}

.fuente-15a {	font-family: font-15a;	}
.fuente-15b {	font-family: font-15b;	}

.fuente-16a {	font-family: font-16a;	}
.fuente-16b {	font-family: font-16b;	}

.fuente-17a {	font-family: font-17a;	}
.fuente-17b {	font-family: font-17b;	}

.fuente-18a {	font-family: font-18a;	}
.fuente-18b {	font-family: font-18b;	}

.fuente-19a {	font-family: font-19a;	}
.fuente-19b {	font-family: font-19b;	}

.fuente-20a {	font-family: font-20a;	}
.fuente-20b {	font-family: font-20b;	}

.fuente-21a {	font-family: font-21a;	}
.fuente-21b {	font-family: font-21b;	}

.fuente-22a {	font-family: font-22a;	}
.fuente-22b {	font-family: font-22b;	}

.fuente-23a {	font-family: font-23a;	}
.fuente-23b {	font-family: font-23b;	}

.fuente-24a {	font-family: font-24a; } 
.fuente-24b {	font-family: font-24b;	}

.fuente-25a {	font-family: font-25a;	}
.fuente-25b {	font-family: font-25b;	}


